# Fraud Detection Program

In [1]:
import pandas as pd
from joblib import load
from tensorflow.keras.models import load_model

# daftar kolom yang ada pada dataset
listColumns = [
    'X', 'id_tanggal_transaksi_awal',  'tanggal_transaksi_awal', 'tipe_kartu', 'id_merchant', 'nama_merchant', 'tipe_mesin',
    'tipe_transaksi', 'nama_transaksi', 'nilai_transaksi', 'id_negara', 'nama_negara', 'nama_kota', 'lokasi_mesin', 
    'pemilik_mesin', 'waktu_transaksi', 'kuartal_transaksi', 'kepemilikan_kartu', 'nama_channel', 'id_channel', 
    'rata_rata_nilai_transaksi', 'maksimum_nilai_transaksi', 'minimum_nilai_transaksi', 'rata_rata_jumlah_transaksi'
]

dataTest = []
listData = []

# input data
for col in listColumns:
    data = input(col + ": ")
    data = float(data)
    dataTest.append(data)

listData.append(dataTest)

# load the scaler
scaler = load('scaler.bin')
listData = pd.DataFrame(scaler.transform(listData), columns = listColumns)

# predict
model = load_model('model.h5')
hasilPrediksi = model.predict(listData)
hasilPrediksi = round(hasilPrediksi[0][0])

print('\n---------------------------------------')

if (hasilPrediksi == 0):
    print('Hasil klasifikasi: Transaksi NORMAL')
else:
    print('Hasil klasifikasi: Transaksi FRAUD')
    
print('---------------------------------------')

X: 4995
id_tanggal_transaksi_awal: 2457435
tanggal_transaksi_awal: 2457518
tipe_kartu: 93
id_merchant: 155677
nama_merchant: 107
tipe_mesin: 2218349
tipe_transaksi: 227
nama_transaksi: 1
nilai_transaksi: 600000
id_negara: 96
nama_negara: 5
nama_kota: 128
lokasi_mesin: 7035
pemilik_mesin: 395
waktu_transaksi: 154452
kuartal_transaksi: 3
kepemilikan_kartu: 2
nama_channel: 2
id_channel: 4
rata_rata_nilai_transaksi: 567628.8391
maksimum_nilai_transaksi: 5000000
minimum_nilai_transaksi: 21700
rata_rata_jumlah_transaksi: 2

---------------------------------------
Hasil klasifikasi: Transaksi NORMAL
---------------------------------------

# Predictions From Normalized Training Data

In [2]:
import pandas as pd
from tensorflow.keras.models import load_model
from joblib import load

# daftar kolom yang ada pada dataset
listColumns = [
    'X', 'id_tanggal_transaksi_awal',  'tanggal_transaksi_awal', 'tipe_kartu', 'id_merchant', 'nama_merchant', 'tipe_mesin',
    'tipe_transaksi', 'nama_transaksi', 'nilai_transaksi', 'id_negara', 'nama_negara', 'nama_kota', 'lokasi_mesin', 
    'pemilik_mesin', 'waktu_transaksi', 'kuartal_transaksi', 'kepemilikan_kartu', 'nama_channel', 'id_channel', 
    'rata_rata_nilai_transaksi', 'maksimum_nilai_transaksi', 'minimum_nilai_transaksi', 'rata_rata_jumlah_transaksi'
]

In [3]:
# data transaksi NORMAL yang sudah dinormalisasi
listNormal = [
    '-0.6544848896617518', '1.4895126710725552', '1.7036952032059163', '0.6270776733286159', '-0.3164917600996489',
    '0.3308657337897229', '0.964390110690812', '-1.0721361587538922', '-0.18745945980109927', '0.31176859709330057', 
    '-0.01625584072044717', '-0.046918964957068696', '1.6645894966548134', '0.07875861543910007', '-0.3283168415502732',
    '1.1501665450955592', '1.387640391755922', '0.2695449169295591', '-0.3988641002234191', '0.44286936730649307',
    '-0.021621193994228537', '-0.15367649122452176', '-0.09831158155075241', '0.2120310531885061'
]

# data transaksi FRAUD yang sudah dinormalisasi
listFraud = [
    '-1.5530714895090219', '-0.6766116194054733', '-0.3085080855234999', '0.6270776733286159', '-0.3164917600996489', '0.3308657337897229',
    '-1.663356652159255', '-0.15984924259432204', '0.3264633412201912', '0.41747900515037656', '-0.01625584072044717', '-0.046918964957068696',
    '-0.3893242388324001', '-1.1154257210047147', '3.0678398043344646', '-1.373608630380672', '-1.0358832465403487', '-3.709956809392672',
    '3.5476804270531552', '-0.13787400824528254', '0.003771935153902551', '-0.13847630426033736', '-0.06872463010494247', '-0.07609786606947176'
]

In [4]:
listData = []
listPrediksi = []

for x in listFraud:
    x = float(x)
    listPrediksi.append(x)
    
listData.append(listPrediksi)
listData = pd.DataFrame(listData, columns = listColumns)
listData

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,-1.553071,-0.676612,-0.308508,0.627078,-0.316492,0.330866,-1.663357,-0.159849,0.326463,0.417479,...,3.06784,-1.373609,-1.035883,-3.709957,3.54768,-0.137874,0.003772,-0.138476,-0.068725,-0.076098

In [5]:
# predict
model = load_model('model.h5')

hasilPrediksi = model.predict(listData)
hasilPrediksi = round(hasilPrediksi[0][0])

if (hasilPrediksi == 0):
    print('Hasil klasifikasi: Transaksi NORMAL')
else:
    print('Hasil klasifikasi: Transaksi FRAUD')

Hasil klasifikasi: Transaksi FRAUD

# Predictions From Non-normalized Training Data

In [6]:
import pandas as pd
from tensorflow.keras.models import load_model
from joblib import load

# daftar kolom yang ada pada dataset
listColumns = [
    'X', 'id_tanggal_transaksi_awal',  'tanggal_transaksi_awal', 'tipe_kartu', 'id_merchant', 'nama_merchant', 'tipe_mesin',
    'tipe_transaksi', 'nama_transaksi', 'nilai_transaksi', 'id_negara', 'nama_negara', 'nama_kota', 'lokasi_mesin', 
    'pemilik_mesin', 'waktu_transaksi', 'kuartal_transaksi', 'kepemilikan_kartu', 'nama_channel', 'id_channel', 
    'rata_rata_nilai_transaksi', 'maksimum_nilai_transaksi', 'minimum_nilai_transaksi', 'rata_rata_jumlah_transaksi'
]

In [7]:
# list data transaksi (training) tanpa normalisasi

listNormalOrigin = [
    '615', '2457398', '2457483', '111', '-2', '1798', '1577669', '385', '11', '300000', '96', '5', '128',
    '1946', '613', '174217', '3', '2', '1', '9', '862448.8085', '10000000', '2000', '2.57'
]

listNormalOrigin2 = [
    13202, 2457440, 2457527, 111, -2, 1798, 16684, 26, 10, 1000000, 96, 5, 128,
    3536, 613, 183418, 4, 2, 1, 9, 1067262.756, 14840000, 62500, 1.39
]

listFraudOrigin = [
    '788', '2457419', '2457507', '111', '-2', '1798', '-3', '156', '12', '2500000', '96', '5', '121',
    '1264', '2196', '73140', '2', '1', '5', '8', '1369047.619', '10000000', '30000', '2.33'
]

listFraudOrigin2 = [
    '5508', '2457555', '2457614', '104', '-2', '1798', '2141266' , '238', '9', '500000', '96', '5', '128',
    '5546', '613', '91130', '2', '2', '1', '9', '197729.0217', '800000', '30000', '2.21'
]

listFraudOrigin3 = [
    '9188', '2457445', '2457539', '111', '-2', '1798', '1531787', '385', '11', '300000', '96', '5', '265',
    '1665', '613', '115159', '2', '2', '1', '9', '603631.4563', '3500000', '20900', '2.15'
]

In [8]:
listData = []
listPrediksi = []

for x in listFraudOrigin2:
    x = float(x)
    listPrediksi.append(x)
    
listData.append(listPrediksi)
listData = pd.DataFrame(listData, columns = listColumns)
listData

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,5508.0,2457555.0,2457614.0,104.0,-2.0,1798.0,2141266.0,238.0,9.0,500000.0,...,613.0,91130.0,2.0,2.0,1.0,9.0,197729.0217,800000.0,30000.0,2.21

In [9]:
# load the scaler
scaler = load('scaler.bin')
listData = pd.DataFrame(scaler.transform(listData), columns = listColumns)
listData

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,-0.462195,0.621154,0.674623,0.456011,-0.316492,0.330866,0.496502,0.415593,-0.444421,-0.287257,...,-0.328317,-0.997805,-1.035883,0.269545,-0.398864,0.442869,-0.805467,-0.697843,-0.068725,-0.162537

In [10]:
# predict
model = load_model('model.h5')
hasilPrediksi = model.predict(listData)
hasilPrediksi = round(hasilPrediksi[0][0])

if (hasilPrediksi == 0):
    print('Hasil klasifikasi: Transaksi NORMAL')
else:
    print('Hasil klasifikasi: Transaksi FRAUD')

Hasil klasifikasi: Transaksi FRAUD

# Predictions From Non-normalized Testing Data

In [11]:
import random
import pandas as pd
from tensorflow.keras.models import load_model
from joblib import load

In [12]:
# list data transaksi (testing) tanpa normalisasi

# import data testing
df_test = pd.read_csv('fraud_test.csv')

# drop constant value
df_test.drop('flag_transaksi_finansial', inplace=True, axis=1)
df_test.drop('status_transaksi', inplace=True, axis=1)
df_test.drop('bank_pemilik_kartu', inplace=True, axis=1)

df_test.head()

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,615,2457398,2457483,111,-2,1798,1577669,385,11,300000,...,613,174217,3,2,1,9,8.624488e+05,10000000.0,20000.0,2.57
1,2255,2457513,2457582,111,-2,1798,-3,156,12,2500000,...,2416,222216,4,1,5,8,1.250000e+06,7499715.0,8000.0,1.62
2,12689,2457576,2457618,132,426439,193,2059363,58,6,21700,...,483,161328,3,2,2,4,4.447208e+05,4542000.0,15690.0,2.24
3,12496,2457607,2457694,111,-2,1798,3344563,26,10,150000,...,613,111246,2,2,1,9,9.170852e+05,10500000.0,22000.0,2.42
4,2919,2457502,2457569,104,-2,1798,-3,156,12,50000,...,1376,203733,4,1,5,8,1.473127e+05,800000.0,15000.0,1.45

In [13]:
# dataframe to list
listDataTest = df_test.values.tolist()

# choice random list to predict
dataTest = random.choice(listDataTest)

In [14]:
# convert from list to dataframe (single data)
listData = []
listData.append(dataTest)
listData = pd.DataFrame(listData, columns = listColumns)
listData

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,12246.0,2457521.0,2457539.0,93.0,-2.0,1798.0,1818262.0,159.0,19.0,7100000.0,...,613.0,230206.0,4.0,2.0,1.0,9.0,19635989.95,100000000.0,25000.0,3.13

In [15]:
# load the scaler
scaler = load('scaler.bin')
listData = pd.DataFrame(scaler.transform(listData), columns = listColumns)
listData

,X,id_tanggal_transaksi_awal,tanggal_transaksi_awal,tipe_kartu,id_merchant,nama_merchant,tipe_mesin,tipe_transaksi,nama_transaksi,nilai_transaksi,...,pemilik_mesin,waktu_transaksi,kuartal_transaksi,kepemilikan_kartu,nama_channel,id_channel,rata_rata_nilai_transaksi,maksimum_nilai_transaksi,minimum_nilai_transaksi,rata_rata_jumlah_transaksi
0,1.095078,0.296713,-0.014488,0.187193,-0.316492,0.330866,0.170694,-0.138796,2.125193,2.038372,...,-0.328317,1.907435,1.38764,0.269545,-0.398864,0.442869,12.624012,5.333591,-0.076121,0.50016

In [16]:
# predict
model = load_model('model.h5')
hasilPrediksi = model.predict(listData)
hasilPrediksi = round(hasilPrediksi[0][0])

if (hasilPrediksi == 0):
    print('Hasil klasifikasi: Transaksi NORMAL')
else:
    print('Hasil klasifikasi: Transaksi FRAUD')

Hasil klasifikasi: Transaksi NORMAL